In [4]:
import pandas as pd
df = pd.DataFrame({'name' :   ['김지훈', '이유진', '박동현', '김민지'],
                   'english': [90, 80, 60, 70],
                   'math':    [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [5]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [6]:
sum(df['english'])

300

In [7]:
sum(df['english'])/4

75.0

In [8]:
sum(df['math'])/4

57.5

In [10]:
import pandas as pd

data = [
    [1, '인도', '증가', 1409128296, 2024, '공식 인구시계'],
    [2, '중화인민공화국', '감소', 1407929929, 2024, '공식 인구시계'],
    [3, '미국', '증가', 336673595, 2024, '공식 인구시계'],
    [4, '인도네시아', '증가', 281562465, 2024, '공식 인구시계'],
    [5, '파키스탄', '증가', 252363571, 2024, '공식 인구시계'],
    [6, '나이지리아', '증가', 236747130, 2024, '공식 인구시계'],
    [7, '브라질', '증가', 220051512, 2024, '공식 인구시계'],
    [8, '방글라데시', '증가', 168697184, 2024, '공식 인구시계'],
    [9, '러시아', '감소', 140820810, 2024, '공식 인구시계'],
    [10, '멕시코', '증가', 130739927, 2024, '공식 인구시계']
]

columns = ['순위', '국가', '증감', '인구', '연도', '출처']

df = pd.DataFrame(data, columns=columns)

df

   순위       국가  증감          인구    연도       출처
0   1       인도  증가  1409128296  2024  공식 인구시계
1   2  중화인민공화국  감소  1407929929  2024  공식 인구시계
2   3       미국  증가   336673595  2024  공식 인구시계
3   4    인도네시아  증가   281562465  2024  공식 인구시계
4   5     파키스탄  증가   252363571  2024  공식 인구시계
5   6    나이지리아  증가   236747130  2024  공식 인구시계
6   7      브라질  증가   220051512  2024  공식 인구시계
7   8    방글라데시  증가   168697184  2024  공식 인구시계
8   9      러시아  감소   140820810  2024  공식 인구시계
9  10      멕시코  증가   130739927  2024  공식 인구시계