Q1. mpg 데이터는 11개 변수로 구성되어 있습니다. 이 중 일부만 추출해서 분석에 활용하려고 합니다.
    mpg 데이터에서 category(자동차 종류), cty(도시연비)변수를 추출해 새로운 데이터를 만드세요.
    새로 만든 데이터의 일부를 출력해서 두 변수로만 구성되어 있는지 확인하세요.

In [2]:
import pandas as pd

data = pd.read_csv('mpg.csv')

# category와 cty 변수만 추출한 새로운 데이터 생성
new_data = data[['category', 'cty']]

# 새로운 데이터의 처음 5행 출력
new_data.head()

  category  cty
0  compact   18
1  compact   21
2  compact   20
3  compact   21
4  compact   16

Q2. 자동차 종류에 따라 도시 연비가 다른지 알아보려고 합니다. 앞에서 추출한 데이터를 이용해서
    category가 'suv'인 자동차와 'compact'인 자동차 중 어떤 자동차의 cty 평균이 더 높은지 알아보세요.

In [5]:
# category가 'suv'인 자동차와 'compact'인 자동차의 cty 평균 계산
suv_cty_mean = new_data[new_data['category'] == 'suv']['cty'].mean()
compact_cty_mean = new_data[new_data['category'] == 'compact']['cty'].mean()

# 결과 출력
suv_cty_mean, compact_cty_mean

(13.5, 20.127659574468087)