midwest 데이터는 미국 동북중부 437개 지역의 인구통계 정보를 담고 있습니다. midwest.csv를
이용해서 데이터 분석 문제를 해결해보세요.

Q1. popadults는 해당 지역의 성인 인구, poptotal은 전체 인구를 나타냅니다. midwest 데이터에
        '전체 인구 대비 미성년 인구 백분율' 변수를 추가하세요.

In [9]:
import pandas as pd
midwest = pd.read_csv('midwest.csv')
midwest['ratio'] = (midwest['poptotal'] - midwest['popadults']) \
                    / midwest['poptotal'] * 100

Q2. 미성년 인구 백분율이 가장 높은 상위 5개 county(지역)의 미성년 인구 백분율을 출력하세요.

In [10]:
midwest.sort_values('ratio', ascending = False) \
                    .head(5) \
                    [['county', 'ratio']]

        county      ratio
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182

Q3. 분류표의 기준에 따라 미성년 비율 등급 변수를 추가하고, 각 등급에 몇 개의 지역이 있는지 알아보세요.

In [13]:
import numpy as np
midwest['grade'] = np.where(midwest['ratio'] >= 40, 'large',
                   np.where(midwest['ratio'] >= 30, 'middle', 'small'))
midwest.groupby('grade') \
       .agg(n = ('grade', 'count'))

          n
grade
large    32
middle  396
small     9

Q4. popasian은 해당 지역의 아시아인 인구를 나타냅니다. '전체 인구 대비 아시아인 인구 백분율' 변수를
        추가하고, 하위 10개 지역의 state(주), county(지역명), 아시아인 인구 백분율을 출력하세요.